*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

header{
  height: 100px;
  background: black;
}

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.HeaderLogo{
  height: 100%;
  width: 25%;
}

.headerLogo_img{
  height: 100%;
  width: 100%;
}

nav{
  width: 60%;
}

ul{
  display: flex;
  justify-content: space-around;
}

.HeaderNavs{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.homeMeraky{
  background-image: url('../images/merakyhome.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  max-height: 800px;
  position: relative;
}

.homeMeraky_title{
  position: absolute;
  top: 40%;
  left: 7%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 46px;
}

.homeMeraky_paragraph{
  position: absolute;
  top: 60%;
  left: 7%;
  background: yellow;
  width: 80%;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.homeMeraky_about{
  position: relative;
  height: 500px;
  display: flex;
}

.homeMeraky_leftAbout{
  width: 40%;
  background: #3c95a8;
}

.homeMeraky_rightAbout{
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.homeMeraky_pAbout{
  position: absolute;
  top: 40%;
  left:10%;
  background: #dae7ac;
  color: #4f7d82;
  width: 40%;
  padding: 10px;
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
}

.homeMeraky_logo{
  height: 50%;
  width: auto;
  flex-wrap: wrap;
}

footer{
  background: #30A8AA;
  min-height: 130px;
}

.footer_title{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  color: #4f7d82;
}

.footer_icons{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.footer_imgs{
  height: 40px;
  width: 40px;
}
